<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--连接mysql字符串 Database为连接的数据库-->
    <add name="mysqlconn_ExamDemo" connectionString="Database=db_Examination;Data Source=localhost;User Id=root;Password=root;pooling=false;CharSet=utf8;port=3306"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>